.loader{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    z-index: 1;
    animation: fadeInOut 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite alternate;
}


@keyframes fadeInOut {
    from{
        opacity: 0.4;
    }
    to{
        opacity: 0.6;
    }
}